<main>
    <nav class = "navbar">
        <img class="nav-logo" src="/imgs\logo.png">
        <ul class ="nav-links">
            <li><a href="/guide"><b>Home</b></a></li>
            <li><a href="/lost"><b>Lost</b></a></li>
            <li><a href="/found"><b>Found</b></a></li>
            <li><a href="/report"><b>Report</b></a></li>
            <li><a href="/"><b>Logout</b></a></li>
            <li><a href="/aboutUs"><b>About us</b></a></li>
    </nav>
<div class="lost-container">
    <div class="lostHeader">
        <h1>My Post</h1>
    </div>

    
</div>

{{#each dataRows}}
<div class="lost-block">
    <div class="lost-detail">
        <div class="lost-photo">
            <img class="updated-photo" src={{picture}}>

        </div>

        <div class="lost-content">
            <div class= "lost-title">
                <h1>{{item}}</h1>

                <div class="info">
                    <img src="/imgs\anonymous.png">
                    
                    <p>{{contactName}}</p>
                </div>

                <p>{{time}}</p>
                
            </div>

            <div class="detail">
                <div class="one-line">
                    <h1>Location: </h1>
                    <p>{{location}}</p>
                </div>
                <div class="one-line">
                    <h1>Description: </h1>
                    <p>{{description}}</p>
                </div>
                <div class="one-line">
                    <h1>Phone number: </h1>
                    <p>{{phoneNum}}</p>
                </div>
                <div class="one-line">
                    <h1>Email: </h1>
                    <p>{{email}}</p>
                </div>
            </div>

            {{!-- add srcpt to edit and delete the post in database --}}
            <div class="delete-oval">
                <form action="{{this._id}}/edit" method="post">
                    <button class="oval" type = 'submit' onclick="confirmEdit()">
                        <p>Edit</p>
                    </button>
                </form>

                <form action="{{this._id}}/delete" method="post">
                    <button class="oval" type="submit" onclick="confirmAction()">
                        <p>Delete</p>
                    </button>
                </form>

            </div>
        </div>      
    
    
    </div>   
{{/each}} 
</div>



</main>
<script>
    // The function below will start the confirmation dialog
    function confirmAction() {
        let confirmAction = confirm("delete successfully");
        //delete event in if statement
    }
    function confirmEdit() {
        let confirmAction = confirm("jumping to report");
    }
</script>